
*{

}
.header nav {
    background-color: #BF790A;
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: space-between;
}
ul{
    justify-content: space-between;
}

nav ul a {
    padding: 10px;
    justify-content: space-between;
}
